n8n-integration/mcp-dynamic-credentials.json
{
  "name": "MCP with Dynamic Credentials",
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Define your credentials for this request\nconst credentials = {\n  apiUrl: \"https://api.victoury.com/v2\",\n  tenant: \"your-tenant-here\",\n  sessionId: \"your-session-here\"\n};\n\n// Define the tool call\nconst toolCall = {\n  tool: \"list_products\",\n  arguments: {\n    limit: 5,\n    category: \"tours\",\n    // Include credentials in the arguments\n    credentials: credentials\n  }\n};\n\nreturn toolCall;"
      },
      "id": "prepare",
      "name": "Prepare Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://victoury-mcp-local:3000/tools/{{ $json.tool }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "",
              "value": "={{ JSON.stringify($json.arguments) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "call-api",
      "name": "Call MCP API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Prepare Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Request": {
      "main": [
        [
          {
            "node": "Call MCP API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}