n8n-integration/victoury-workflow.json
{
  "name": "Victoury MCP Integration Example",
  "nodes": [
    {
      "parameters": {},
      "id": "1a2b3c4d-5e6f-7g8h-9i0j-1k2l3m4n5o6p",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3000/tools",
        "options": {}
      },
      "id": "2b3c4d5e-6f7g-8h9i-0j1k-2l3m4n5o6p7q",
      "name": "List Available Tools",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/tools/list_products",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"arguments\": {\n    \"limit\": 10,\n    \"page\": 1\n  }\n}",
        "options": {}
      },
      "id": "3c4d5e6f-7g8h-9i0j-1k2l-3m4n5o6p7q8r",
      "name": "List Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/tools/search_customers",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"arguments\": {\n    \"query\": \"john\",\n    \"limit\": 5\n  }\n}",
        "options": {}
      },
      "id": "4d5e6f7g-8h9i-0j1k-2l3m-4n5o6p7q8r9s",
      "name": "Search Customers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/batch",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"operations\": [\n    {\n      \"tool\": \"list_products\",\n      \"arguments\": { \"limit\": 5 }\n    },\n    {\n      \"tool\": \"get_api_info\",\n      \"arguments\": {}\n    }\n  ]\n}",
        "options": {}
      },
      "id": "5e6f7g8h-9i0j-1k2l-3m4n-5o6p7q8r9s0t",
      "name": "Batch Operations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 400]
    },
    {
      "parameters": {
        "functionCode": "// Example: Dynamic credentials per environment\nconst environment = $input.first().json.environment || 'production';\n\nconst credentials = {\n  production: {\n    apiUrl: 'https://api.victoury.com/v2',\n    tenant: $env.PROD_TENANT,\n    sessionId: $env.PROD_SESSION\n  },\n  staging: {\n    apiUrl: 'https://staging.victoury.com/v2',\n    tenant: $env.STAGING_TENANT,\n    sessionId: $env.STAGING_SESSION\n  }\n};\n\nreturn {\n  credentials: credentials[environment],\n  arguments: {\n    limit: 10\n  }\n};"
      },
      "id": "6f7g8h9i-0j1k-2l3m-4n5o-6p7q8r9s0t1u",
      "name": "Prepare Dynamic Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/tools/list_products",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "7g8h9i0j-1k2l-3m4n-5o6p-7q8r9s0t1u2v",
      "name": "Products with Dynamic Creds",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 500]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "List Available Tools",
            "type": "main",
            "index": 0
          },
          {
            "node": "List Products",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Dynamic Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Products": {
      "main": [
        [
          {
            "node": "Search Customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Customers": {
      "main": [
        [
          {
            "node": "Batch Operations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Dynamic Request": {
      "main": [
        [
          {
            "node": "Products with Dynamic Creds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "victoury-mcp-integration"
  },
  "pinData": {}
}